body
{
    background-color: rgb(41, 138, 184);
    color: rgb(12, 12, 12);
}

.navaccueil
{
    display: flex;
    width: 100%;
    text-align: right;
    margin-left: 100px;

}

ul li a:hover
{
    color: rgb(63, 10, 3);

}

h3
{
    margin-left: 100px;
    font-size: 50px;
    color: brown;
}

a
{
    color: brown;
    font-size: 40px;
}
.photo
{
    border-radius: 1000px;
    margin-left: 0px;
}

ul li
{
    text-align: center;
    padding: 12px;
    color: rgb(214, 18, 18);
    margin-left: 1px;

}

ul li :hover
{
    color: rgb(139, 16, 0);

}


.navaccueil li
{
    display: inline-block;
    margin-right: 1px;
    color: beige;

}

.autre
{
    border: 10px solid greenyellow;
    color: indigo;
}

.contenu
{
    margin-left: 300px;
}

.experi
{
    border: 10px solid greenyellow;
    color: indigo;
}

.contexperie
{
    margin-left: 300px;
}